* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: rgb(236, 232, 232);
}

.container {
  max-width: 1200px;
  width: 90vw;
  margin: 0 auto;
}